@keyframes slide{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(250px);
    }
}
@keyframes slide_2{
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(250px);
    }
}
body{
    background-color: rgb(176, 215, 178);
}
.table_1{
    background-color: rgb(16, 157, 30);
    animation: slide_2 3s infinite;
    animation-play-state: running;
}
.table_1:hover{
    animation-play-state: paused;
}
.table_2{
    animation: slide 3s infinite;
    animation-play-state: running;
}
.table_2:hover{
    animation-play-state: paused;
}
h1{
    color: rgb(109, 0, 0);
    font-style: oblique;
}
.table_line_1{
    background-color: rgb(128, 158, 143);
}
.table_line_2{
    background-color: rgb(93, 170, 132);
}
.table_line_3{
    background-color: rgb(31, 117, 74);
}
.fon{
    background-color: rgb(194, 241, 208);
}

@media (prefers-color-scheme: dark) {
    .fon{
    background-color: rgb(91, 126, 101);
}
.table_line_3{
    background-color: rgb(8, 61, 35);
}
.table_line_2{
    background-color: rgb(52, 109, 80);
}
.table_line_1{
    background-color: rgb(63, 97, 80);
}
h1{
    color: rgb(49, 0, 0);
    font-style: oblique;
}
.table_1{
    background-color: rgb(1, 126, 14);
}
body{
    background-color: rgb(29, 41, 29);
}
}